.aside
    height: 100%
    background-color: #659DBD
    grid-area: aside
    position: relative
    &__wrapper
        position: -webkit-sticky
        position: sticky
        top: 20px
        display: flex
        justify-content: right
        &__options
            margin-top: 10px
            width: 315px
            height: 350px
            &__title
                margin-left: 15px
                color: #fff
            &__filter
                margin-left: 20px
                &__item
                    display: flex
                    justify-content: space-around
                    align-items: center
                    margin-top: 13px
                    margin-bottom: 7px
                    &__descr
                        color: #fff
                        font-size: 19px
                    &__total
                        color: #fff
                        font-size: 21px
                        font-weight: bold